<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<title> Sighting Stats </title>
	
	<style>
	.left {
  		position: absolute;
  		left: 40px;
  		width: 300px;
  		padding: 10px;
		}
	body {
  		background-image: url('https://wallpaperaccess.com/full/1081637.jpg');
  		background-repeat: no-repeat;
  		background-attachment: fixed;
  		background-size: cover;
		}
	</style>
	</head>

	<body class = "left">
	<form method = 'GET'>
		<h1> Statistics of Squirrels </h1>
		
		<br>
		Count of Squirrels:
		<ul>
			<li>There is a total of {{number_of_squirrels}} squirrels </li>
		</ul>
		<br>

		Chasing Status:
		<ul>
			<li> Count of Squirrels chasings: {{chasing_yes}} </li>
		</ul>

		<br>
		Climbing Status:
		<ul>
                        <li> Count of Squirrels climbing: {{climbing_yes}} </li>
                </ul>
		<br>

		Foraging Status:
		<ul>
			<li> Count of Squirrels Foraging: {{foraging_yes}} </li>
		</ul>
		<br>

		Eating Status:
                <ul>
                        <li> Count ofSquirrels eating: {{eating_yes}} </li>
                </ul>
	</form>
	</body>
</html
